# caches
__pycache__/
*.py[cod]
*_cache/

# distribution / packaging
*.egg-info/
*.egg
dist/
build/
.eggs/

# virtual environments
.venv/
venv/

# environment secrets
.env

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# coverage
htmlcov/
.coverage
coverage.xml